#root{
	animation: root-op .45s;
}
@keyframes root-op{
	from{
		transform: translate(0,-5rem);
		opacity: 0;
	}
	60%{
		transform: translate(0,2rem);
	}
	to{
		transform: translate(0,0);
		opacity: 1;
	}
}
.circle-1{
	animation: rotate-first-cir 2s infinite linear;
}
@keyframes rotate-first-cir{
	100%{
		transform: rotate(360deg);
	}
}
.circle-2{
	animation: rotate-second-cir 2s infinite linear;
}
@keyframes rotate-second-cir{
	100%{
		transform: rotate(-360deg);
	}
}
.circle-3{
	animation: rotate-third-cir 2s infinite linear;
}
@keyframes rotate-third-cir{
	100%{
		transform: rotate(360deg);
	}
}
.ctrl-lbox{
	animation: ctrlbox-bor 3s infinite;
}
@keyframes ctrlbox-bor{
	0%, 20%{
		border-color: transparent;
	}
	20%, 40%{
		border-color: transparent var(--complement) transparent transparent;
	}
	40%, 60%{
		border-color: transparent var(--complement) var(--complement) transparent;
	}
	60%, 80%{
		border-color: transparent var(--complement) var(--complement) var(--complement);
	}
	80%, 100%{
		border-color: var(--complement);
	}
}