:root{
	--base: rgb(240,240,240);
	--complement: rgb(0,150,150);
	--complementPlus: rgb(150,225,250);
	--baseText: rgb(15,15,15);
	--complementText: rgb(250,250,250);
	--complementTextPlus: rgb(0,50,50);
	--transDark: rgba(0,0,0,.5);
	--transLight: rgba(250,250,250,.25);
	--transLight: rgba(250,250,250,.25);
	--boxShadow: rgba(0,0,0,.25);
}
::-webkit-scrollbar{
	width: .4rem;
	background: var(--base);
	border-radius: 2rem;
}
::-webkit-scrollbar-thumb{
	background: var(--complement);
	border-radius: 2rem;
}
*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: default;
}
html{
	background-color: var(--base);
	overflow: hidden;
}
#root{
	max-width: 100%;
	min-height: 100vh;
	max-height: 100vh;
	font-family: 'Dosis', sans-serif;
}
#Loading-box{
	width: 70px;
	height: 70px;
	position: fixed;
	top: calc(50% - 35px);
	left: calc(50% - 35px);
}
.ctrl-lbox{
	width: 70px;
	height: 70px;
	border-width: 4px;
	border-style: solid;
	border-color: transparent;
	border-radius: 50%;
	position: relative;
	transform: rotate(-45deg);
}
.loading-circle{
	border-width: 1px;
	border-style: solid;
	border-radius: 50%;
	opacity: .5;
	position: absolute;
}
.circle-1{
	width: 	80px;
	height: 80px;
	border-color: var(--complement) transparent;
	top: calc(50% - 40px);
	left: calc(50% - 40px);
}
.circle-2{
	width: 	52px;
	height: 52px;
	border-color: var(--complement) transparent var(--complement) var(--complement);
	top: calc(50% - 26px);
	left: calc(50% - 26px);
}
.circle-3{
	width: 	44px;
	height: 44px;
	border-color: var(--complement) transparent transparent;
	top: calc(50% - 22px);
	left: calc(50% - 22px);
}
.padding-bground,
.sub-pb,
.svg-blank-bground{
	width: 100%;
	height: 75px;
	z-index: -1;
}
.padding-bground{
	position: fixed;
}
.sub-pb{
	position: relative;
}
.blank-up{
	top: 0;
}
.blank-down{
	bottom: 0;
}
.triangle-bground:nth-child(odd){
	fill: var(--complement);
}
.triangle-bground:nth-child(even){
	fill: var(--transLight);
}
#section{
	max-width: 60%;
	min-height: 100vh;
	margin: 0 auto;
	padding: 75px 0;
	color: var(--baseText);
	z-index: 99;
}
.grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1em;
	position: relative;
}
.half-grid{
	max-height: calc(100vh - 150px);
	padding: 1em;
	background: var(--transLight);
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
}
.right-grid{
	width: 100%;
}
.blank-for-pp{
	width: 100%;
	height: 150px;
}
.content{
	text-align: justify;
	font-size: 1em;
}
#profile-picture{
	height: 150px;
	padding: .4em;
	background: #FFF;
	border-radius: 50%;
	border: .4em solid var(--complement);
	position: absolute;
	top: 0;
	left: calc(50% - 75px);
	cursor: pointer;
}
.resume-owner-name{
	margin-top: .5em;
	color: var(--baseText);
	text-align: center;
	font-size: 2em;
}
.resume-owner-position{
	text-align: center;
	font-size: 1em;
}
.halfgrid-subtitles{
	margin-top: .5em;
	text-align: center;
	font-size: 1.7em;
}
.contact-list{
	margin-left: 1.5em;
}
.contact-list li{
	padding: .5em 0;
}
.contact-list a{
	color: var(--baseText);
	text-decoration: none;
	cursor: pointer;
}
.first-li{
	list-style-image: url(../media/li-item-1.png);
	cursor: pointer;
}
.second-li{
	list-style-image: url(../media/li-item-2.png);
}
progress{
	margin-bottom: .5em;
	transform: translate(0,-.25em);
	width: 100%;
	height: 5px;
}
.right-grid h2{
	margin: .75em 0 .75em;
	text-align: right;
	font-size: 1.25em;
}
.right-half-titles{
	padding: .25em 1em .5em;
	background: var(--complement);
	color: var(--complementText);
	border-radius: 2em 0 2em 0;
}
.personal-data{
	color: var(--complementTextPlus);
	font-style: italic;
}
.timeline ul{
  padding: 0 0 .5em;
  color: var(--baseText);
}
.timeline ul li{
  width: calc(100% - 4em);
  margin: 1em auto;
  padding-top: 1rem;
  list-style-type: none;
  position: relative;
}
.timeline ul li div{
  width: 100%;
  padding: 1rem;
  background: var(--complementPlus);
  position: relative;
}
.timeline ul li:nth-child(odd) div{
	width: calc(100% - 3em);
  left: 3em;
}
.timeline ul li:nth-child(even) div{
	width: calc(100% - 5em);
  left: 0;
}
time{
  padding: .2rem 1em .2rem;
  background: var(--base);
  color: var(--baseText);
  font-size: 1.3em;
  font-weight: bold;
  box-shadow: 0 4px 12px var(--boxShadow);
  transform: scale(1.2,1.2);
  display: block;
}
.timeline ul li div{
  transition: all .5s ease-in-out;
}
.timeline ul li div{
  border-radius: .05rem;
  box-shadow: 0 4px 12px 0 var(--boxShadow);
}
.timeline ul li.in-view div{
  transform: none;
  visibility: visible;
  opacity: 1;
}
#footer{
	color: var(--transDark);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}
#footer:hover{
	color: var(--base);
}
#footer p:hover a,
#footer p a:hover{
	color: var(--base);
}
#footer p a{
	color: var(--transDark);
	cursor: pointer;
}
@media all and (max-width: 1280px){
	#section{
		max-width: 75%;
	}
	.grid{
		grid-template-columns: 40% 60%;
	}
}
@media all and (max-width: 1080px){
	#section{
		max-width: 90%;
	}
	.grid{
		grid-template-columns: 35% 65%;
	}
}
@media all and (max-width: 768px){
	#section{
		max-width: 100%;
	}
}
@media all and (max-width: 568px){
	.grid{
		grid-template-columns: none;
		grid-template-rows: 40vh 60vh;
	}
	.right-grid{
		margin-bottom: 150px;
	}
	time{
		font-size: 1em;
	}
}
@media all and (max-width: 300px){
	time{
		font-size: .8em;
	}
}